.Header{
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 1000;
	/*background: white;*/
}
.Header .header-container{
	/*border-bottom: 2px solid black;*/
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.Header .header-left{
	display: flex;
	align-items: center;
}
.Header .header-right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.Header .header-logo{
	width: 5.378rem;
	margin: 0.5rem 0 0 1.5rem;
}
.Header .header-logo img{
	width: 100%;
	height: auto;
}

.Header .drimo-btn.drimo-btn-menu {
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}
.Header .drimo-btn.drimo-btn-menu svg{
	margin-left: 1rem;
	margin-right: 1rem;
}